@using RayaWSoffara.Helpers
@model RayaWSoffara.Models.UserArticleVM

@if (Model != null)
{
    foreach (var item in Model.Comments)
    {
    <div class="comment-container" id="@item.CommentId">
        <div class="pull-left user-img">
            <a href="/Profile?Username=@item.RWSUser.UserName&Page=1"><img src="@item.RWSUser.ProfileImagePath?w=50&h=50&mode=crop" /></a>
        </div>
        @if(User != null && (@item.CommentReports.Where(i => i.CommentId == item.CommentId && i.RWSUser.UserName == User.Identity.Name).Count() == 0)) {
        <div class="pull-right report col-md-2" onclick="ReportComment(@item.CommentId, '@User.Identity.Name')"><span>الإبلاغ عن التعليق</span></div>
        }
        <div class="post-data">
            <div class="pull-left username"><a href="/Profile?Username=@item.RWSUser.UserName&Page=1">@item.RWSUser.UserName</a></div>
            @{ dynamic calc_time = CalculateTimeHelper.CalculteTime(Convert.ToDateTime(item.CommentCreationDate)); }
            <div class="pull-left timestamp">منذ @calc_time.diff <span>@calc_time.unit</span></div>
        </div>
        <div class="col-xs-12 comment-content">@item.CommentContent</div>
        <div class="clear-fix"></div>
    </div>
    }
    @Html.Partial("_LoadingPartial", "overall")
}

<script>
    function article_display(article_id) {
        window.location.href = "/Article/ArticleDisplay/" + article_id;
    }

    function ReportComment(comment_id, username) {
        $("#" + comment_id + " .report").hide(100);
        $.ajax({
            type: "POST",
            data: { CommentId: comment_id, UserName: username },
            url: "/Article/ReportComment",
            beforeSend: function () {
                $(".loading").removeClass("hidden");
            },
            success: function (data) {
                $("#" + comment_id + " .report").hide(100);
            },
            complete: function() {
                $(".loading").addClass("hidden");
            }
        });
    }
</script>
