<link href="~/Content/CSS/html5imageupload.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/Scripts/script.js"></script>
@model RayaWSoffara.Models.UserArticleVM

@{
    ViewBag.Title = "إكتب مقالك";
}

<input type="hidden" id="AllImagesCount" value="@ViewBag.AllImagesCount" />
<div class="clear-fix"></div>
<div class="container" id="createArticle_container">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <ul id="tabs2" class="nav nav-tabs" data-tabs="tabs">
            <li class="@(ViewBag.Type == "Article" ? "active" : "")"><a href="#article" data-toggle="tab">مقالة<i class="fa fa-newspaper-o"></i></a></li>
            <li class="@(ViewBag.Type == "Lists" ? "active" : "")"><a href="#lists" data-toggle="tab">قوائم<i class="fa fa-list-ol"></i></a></li>
            <li class="@(ViewBag.Type == "Opinion" ? "active" : "")"><a href="#opinion" data-toggle="tab">رأى<i class="fa fa-exclamation"></i></a></li>
            <li class="@(ViewBag.Type == "Image" ? "active" : "")"><a href="#image" data-toggle="tab">صورة<i class="fa fa-picture-o"></i></a></li>
            <li class="@(ViewBag.Type == "Video" ? "active" : "")"><a href="#video" data-toggle="tab">فيديو<i class="fa fa-video-camera"></i></a></li>
        </ul>

        @*<div class="tab-pane active">
            <iframe id="iframe" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
        </div>*@
        @if (ViewBag.Type == "Article")
        {
            <div class="tab-pane active" id="article">
                @Html.Partial("_WriteArticlePartial", Model)
            </div>
        }
        @if (ViewBag.Type == "Lists")
        {
            <div class="tab-pane active" id="lists">
                @Html.Partial("_WriteTopXPartial", Model)
            </div>
        }
        @if (ViewBag.Type == "Opinion")
        {
            <div class="tab-pane active" id="opinion">
                @Html.Partial("_WriteOpinionPartial", Model)
            </div>
        }
        @if (ViewBag.Type == "Image")
        {
            <div class="tab-pane active" id="image">
                @Html.Partial("_WriteImagePartial", Model)
            </div>
        }
        @if (ViewBag.Type == "Video")
        {
            <div class="tab-pane active" id="video">
                @Html.Partial("_WriteVideoPartial", Model)
            </div>
        }
    </div>
</div>

<div class="loading hidden">
    <div>
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/ckeditor/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
@*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.js&#8221;" type="text/javascript"></script>*@
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/Content/Scripts/html5imageupload.min.js"></script>
<script src="~/Content/Scripts/jquery.visible.min.js"></script>
<script src="~/Content/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Content/Scripts/CreatePostScript.js"></script>
<script>

    var allImagesCount = $("#AllImagesCount").val();
    var page = 1;
    var processing = false;
    var done = false;

    LoadScript();
    GetImageTags();

    // start of loading partial views according to tab click //
    $('#tabs2 li').click(function (e) {
        $(".articleTags").tagit("removeAll");
        $(".media_img ").attr("src", "");
        $(".media_dropbox").removeClass("hidden");
        $(".edit-image-btn").addClass("hidden");
        $(".delete-image-btn").addClass("hidden");
        $(".tagsCount").val("");
        var elem = $(this).children("a").attr("href");
        var post_type = elem.split('#')[1];
        $.ajax({
            type: 'POST',
            url: '/Article/GetWritePartial',
            data: { Type: post_type },
            beforeSend: function () {
                    $(".loading").removeClass("hidden");
                },
            success: function (data) {
                $('#createArticle_container .tab-pane').attr("id", post_type);
                $('#createArticle_container .tab-pane').html(data);
                if (post_type != "Video") {
                    GetImageTags();
                    GetImagesWhenChangingTabs();
                }
                var id = grecaptcha.render($('.g-recaptcha')[0], { sitekey: '6LdhiRQTAAAAAGKaboWCwIsqgpDFEQH4ov3WCYBI' });
                grecaptcha.reset(id);
                LoadScript();
                $(".loading").addClass("hidden");
            },
            error: function () {
                $(".loading").addClass("hidden");
            }
        });
    });
    // end of loading partial views according to tab click //

</script>
