<link href="~/Content/CSS/html5imageupload.css" rel="stylesheet" />
@model RayaWSoffara.Models.UserArticleVM

@{
    ViewBag.Title = "إكتب مقالك";
}

<input type="hidden" id="AllImagesCount" value="@ViewBag.AllImagesCount" />
<div class="clear-fix"></div>
<div class="container" id="createArticle_container">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <ul id="tabs2" class="nav nav-tabs" data-tabs="tabs">
            <li class="@(ViewBag.Type == "Article" ? "active" : "")"><a href="#article" data-toggle="tab">مقالة<i class="fa fa-newspaper-o"></i></a></li>
            <li class="@(ViewBag.Type == "Lists" ? "active" : "")"><a href="#lists" data-toggle="tab">قوائم<i class="fa fa-list-ol"></i></a></li>
            <li class="@(ViewBag.Type == "Opinion" ? "active" : "")"><a href="#opinion" data-toggle="tab">رأى<i class="fa fa-exclamation"></i></a></li>
            <li class="@(ViewBag.Type == "Image" ? "active" : "")"><a href="#image" data-toggle="tab">صورة<i class="fa fa-picture-o"></i></a></li>
            <li class="@(ViewBag.Type == "Video" ? "active" : "")"><a href="#video" data-toggle="tab">فيديو<i class="fa fa-video-camera"></i></a></li>
        </ul>
        <div id="my-tab-content2" class="tab-content">
            <div class="tab-pane @(ViewBag.Type == "Article" ? "active" : "")" id="article">
                @Html.Partial("_WriteArticlePartial", Model)
            </div>
            <div class="tab-pane @(ViewBag.Type == "Lists" ? "active" : "")" id="lists">
                @Html.Partial("_WriteTopXPartial", Model)
            </div>
            <div class="tab-pane @(ViewBag.Type == "Opinion" ? "active" : "")" id="opinion">
                @Html.Partial("_WriteOpinionPartial", Model)
            </div>
            <div class="tab-pane @(ViewBag.Type == "Image" ? "active" : "")" id="image">
                @Html.Partial("_WriteImagePartial", Model)
            </div>
            <div class="tab-pane @(ViewBag.Type == "Video" ? "active" : "")" id="video">
                @Html.Partial("_WriteVideoPartial", Model)
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="image_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">ضبط الصورة</h4>
            </div>
            <div class="modal-body" id="edit_modal_body">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#uploadimage" data-toggle="tab">أضف صورة</a></li>
                    <li><a href="#uploadvideo" data-toggle="tab">يوتيوب فيديو</a></li>
                    <li><a href="#chooseimage" data-toggle="tab">إختر صورة</a></li>
                </ul>
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="uploadimage">
                        <div class="dropzone image-dropzone full_width" data-ajax="false" data-url="/Article/TestCrop" data-save="false" data-resize="true" data-canvas="true" data-width="866" data-height="398" style="width: 100%;">
                            <input type="file" name="thumb" />
                        </div>
                        <input id="uploadimagefilename" type="hidden" />
                        <input id="topXindex" type="hidden" />
                        <button class="addImage btn btn-primary buttons" disabled>أضف</button>
                    </div>
                    <div class="tab-pane" id="uploadvideo">
                        <textarea id="embedded_video_link" class="full_width form-control" placeholder="رجاءً ضع الرابط هنا"></textarea>
                        <div id="modal_video_viewport">
                        </div>
                        <button type="button" class="btn btn-primary buttons" id="embed_confirm">أضف</button>
                    </div>
                    <div class="tab-pane" id="chooseimage">
                        <ul class="imageTags"></ul>
                        <input type="hidden" id="tagNames" />
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                        <div id="img_container">
                            <div class="container full_width">@Html.Partial("_ImagesPartial", (List<RWSDataLayer.Context.Image>)@ViewBag.Images)</div>
                            <div id="testScroll" style="height: 10px">
                                <div class="loading-inline hidden">
                                    <div>
                                        <div class="sk-fading-circle">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vertical_space"></div>
                        <button class="addImage btn btn-primary buttons" disabled>أضف</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="loading hidden">
    <div>
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/Scripts/ckeditor/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.js&#8221;" type="text/javascript"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/Content/Scripts/html5imageupload.min.js"></script>
<script src="~/Content/Scripts/jquery.visible.min.js"></script>
<script src="~/Content/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script>

    var allImagesCount = $("#AllImagesCount").val();
    var page = 1;
    var processing = false;
    var done = false;

    // start of getting search image tags //
    var availableTags = [];
    var availableTagsID = [];
    $('.imageTags').tagit({
        tagSource: function (search, showChoices) {
            if (search.term.length > 2) {
                $.ajax({
                    async: false,
                    type: "Post",
                    data: { Term: search.term },
                    url: "/Home/GetTags",
                    success: function (tags) {
                        availableTags = [];
                        availableTagsID = [];
                        for (i = 0; i < tags.length; i++) {
                            availableTags.push(tags[i].TagName);
                            availableTagsID.push(tags[i].TagID);
                        }
                        showChoices(availableTags);
                    }
                })
            }
        },
        select: true,
        sortable: true,
        allowNewTags: false,
        triggerKeys: ['enter', 'tab'],
        beforeTagAdded: function (event, ui) {
            if ($.inArray(ui.tagLabel, availableTags) == -1) {
                return false;
            }
        },
        afterTagAdded: function (event, ui) {
            var index = availableTags.indexOf(ui.tagLabel);
            var id = availableTagsID[index];
            var image_id = $(this).closest('div[class^="imageItem"]').attr("id");
            $("#" + image_id + " .imageTags li").eq(-2).attr("data-id", id);
        }
    });
    $(".imageTags .tagit-new input").attr("placeholder", "+ أضف كلمة بحثية");
    // end of getting search image tags //

    $(document).ready(function () {
        // start of dropzone function for croppping //
        $('.dropzone').html5imageupload({
            onSave: function (data) {
                $.ajax({
                    type: 'POST',
                    data: { data: data.data, left: data.left, top: data.top, imageWidth: data.imageWidth, imageHeight: data.imageHeight, imageOriginalWidth: data.imageOriginalWidth, imageOriginalHeight: data.imageOriginalHeight },
                    url: '/Article/TestCrop',
                    beforeSend: function () {
                        $(".loading").removeClass("hidden");
                    },
                    success: function (data) {
                        $(".loading").addClass("hidden");
                        $("#uploadimagefilename").val("/Temp/" + data);
                        $("#uploadimage .addImage").removeAttr("disabled");
                    },
                    error: function () {
                        $(".loading").addClass("hidden");
                    }
                });
            }
        });
        // end of dropzone function for cropping //
    });

    // start of loading partial views according to tab click //
    $('#createArticle_container .nav-tabs').click(function (e) {
        $(".articleTags").tagit("removeAll");
        $(".media_img ").attr("src", "");
        $(".media_dropbox").removeClass("hidden");
        $(".edit-image-btn").addClass("hidden");
        $(".delete-image-btn").addClass("hidden");
        $(".tagsCount").val("");
        var elem = e.target.toString();
        var post_type = elem.split('#')[1];
        $.ajax({
            type: 'POST',
            url: '/Article/GetWritePartial',
            data: { Type: post_type },
            beforeSend: function () {
                $(".loading").removeClass("hidden");
            },
            success: function (data) {
                //$model = $(data);
                //$('.comments-box').append($model);
                //$detailsDiv.replaceWith(data);
                $(".loading").addClass("hidden");
            },
            error: function () {
                $(".loading").addClass("hidden");
            }
        });
    });
    // end of loading partial views according to tab click //

    // START OF TAGIT FUNCTIONS//
    var availableTags = [];
    var availableTagsID = [];

    $('.articleTags').tagit({
        tagSource: function (search, showChoices) {
            if (search.term.length > 2) {
                $.ajax({
                    async: false,
                    type: "POST",
                    data: { Term: search.term },
                    url: "/Home/GetTags",
                    success: function (Tags) {
                        availableTags = [];
                        availableTagsID = [];
                        $('.header_div_2 .keywords').children('p').each(function () {
                            availableTags.push();
                        });
                        for (i = 0; i < Tags.length; i++) {
                            availableTags.push(Tags[i].TagName);
                            availableTagsID.push(Tags[i].TagID);
                        }
                        showChoices(availableTags);
                    }
                })
            }
        },
        select: true,
        sortable: true,
        allowNewTags: false,
        triggerKeys: ['enter', 'tab'],
        beforeTagAdded: function (event, ui) {
            if ($.inArray(ui.tagLabel, availableTags) == -1) {
                return false;
            }
        }
    });

    $(".articleTags input").attr("placeholder", "+ أضف كلمة بحثية");
    // END OF TAGIT FUNCTIONS //

    // start of clicking search button in tags //
    $("#chooseimage .search-btn").click(function () {
        $("#img_container .container").html("");
        var tags = "";
        $('.imageTags').children('li').each(function () {
            var tagname = $(this).children('span').text();
            tags = tags + tagname + ",";
        });
        tags = tags.substring(0, tags.length - 2);
        $("#tagNames").val(tags);
        page = 0;
        $.ajax({
            type: "Post",
            data: { Page: 0, TagNames: tags },
            url: "/Article/GetImagesAjax",
            beforeSend: function () {
                $(".loading").removeClass("hidden");
            },
            success: function (data) {
                alert("1");
                page++;
                $images = $(data);
                $('#img_container .container').append($images);
                $(".loading").addClass("hidden");
                var visibleImageCount = $("#img_container .image-choice").length;
                if (parseInt(visibleImageCount) >= parseInt(allImagesCount)) {
                    done = true;
                } else {
                    done = false;
                }
                processing = false;
            }
        });
        return false;
    });
    // end of clicking search button in tags //

    // start of load more images when scrolling //
    $("#img_container").scroll(function () {
        if ($('#testScroll').visible() && processing == false && done == false) {
            processing = true;
            $.ajax({
                type: 'POST',
                data: { Page: page, TagNames: $("#tagNames").val() },
                url: '/Article/GetImagesAjax',
                beforeSend: function () {
                    $(".loading-inline").removeClass("hidden");
                },
                success: function (data) {
                    alert("2");
                    page++;
                    $images = $(data);
                    $('#img_container .container').append($images);
                    var visibleImageCount = $("#img_container .image-choice").length;
                    if (parseInt(visibleImageCount) >= parseInt(allImagesCount)) {
                        done = true;
                    } else {
                        done = false;
                    }
                    processing = false;
                    $(".loading-inline").addClass("hidden");
                },
                error: function () {
                    $(".loading-inline").addClass("hidden");
                }
            });
        }
    });
    // end of load more images when scrolling //
</script>
