@model RayaWSoffara.Models.ChangePasswordModel
@{
    ViewBag.Title = "تغير كلمة السر";
}
<div id="registration_container">
    <div class="title">
        <span>@ViewBag.Title</span>
    </div>

    @using (Html.BeginForm("NewPassword", "Account", null, FormMethod.Post, new { @id = "form", @name = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        //<h3>@ViewBag.ErrorMsg</h3>
        
        <div id="reg_div">
                <div  class="form-group">
                    <label class="pull-left">كلمة السر</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="form-group">
                    <label class="pull-left">تأكيد كلمة السر</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
        </div>
        <div id="btn_reg_div">
            <input type="submit" value="ارسل" id="btn_reg" class="buttons" />
        </div>
        <input type="hidden" value="@ViewBag.PasswordToken" />
            
    }
</div>

<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#form").validate({
        rules: {
            Password: {
                required: true,
                minlength: 6
            },
            ConfirmPassword: {
                required: true,
                equalTo: "#Password"
            }
        },
        messages: {
            Password: {
                required: "يجب إدخال كلمة السر",
                minlength: "يجب أن تكون على الأقل {6} أحرف."
            },
            ConfirmPassword: {
                required: "يجب إدخال تأكيد كلمة السر",
                equalTo: "كلمة السر غير متطابقة."
            }
        }
    });
</script>
