@model RayaWSoffara.Models.UserProfileVM
@{
    ViewBag.Title = "نقاط الكاتب";
}

<div class="clear-fix"></div>
<div class="container" id="profile_container">
    <div class="profile-title profile-title2 col-md-4 col-xs-12">
        <div class="user-data-title">
            <span>@Model.FirstName @Model.LastName</span>
            <div class="clear-fix"></div>
            <div>@Model.UserName</div>
        </div>
        <div class="clear-fix"></div>
        <div class="user-image">
            @if (@Model.profileImgUrl != null)
            {
                <img class="pull-left" src="@Model.profileImgUrl?w=100&h=100&mode=crop" />
            }
            else
            {
                <img class="pull-left" src="~/Content/Images/img_writer.jpg?w=100&h=100&mode=crop" />
            }
        </div>
        <div class="clear-fix"></div>
        <div class="user-data">
            <div class="numerics">
                <div class="pull-left col-md-6">
                    <div>@Model.articlesCount</div>
                    <label>مقالة</label>
                </div>
                <div class="pull-left col-md-6">
                    <div>@Model.viewsCount</div>
                    <label>مشاهدة</label>
                </div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div id="profile-user-data">
            <div class="profile-sub-title">معلومات شخصية</div>
            <div class="form-group">
                <label class="pull-left">البطولة المفضلة</label>
                <input class="form-control" value="@Model.FavCompName" disabled />
            </div>
            <div class="form-group">
                <label class="pull-left">الفريق المفضل</label>
                <input class="form-control" value="@Model.FavTeamName" disabled />
            </div>
            <div class="form-group">
                <label class="pull-left">أسم المستخدم</label>
                <input type="text" class="form-control" name="DisplayName" value="@Model.DisplayName" disabled />
            </div>
            <div class="form-group">
                <label class="pull-left">نبذة عن @Model.FirstName</label>
                <textarea class="form-control" name="AboutYou" disabled>@Model.AboutYou</textarea>
            </div>
            <div class="form-group">
                <label class="pull-left">حساب تويتر</label>
                <input type="text" class="form-control" name="Twitter" value="@Model.Twitter" disabled />
            </div>
            <div class="form-group">
                <label class="pull-left">حساب جوجل بلس</label>
                <input type="text" class="form-control" name="Google" value="@Model.Google" disabled />
            </div>
        </div>

    </div>

    <div class="profile col-md-8">
        <div class="clear-fix"></div>
        <div class="profile-sub-title">نقاط الكاتب لشهر @ViewBag.PointsDetails.MonthName @ViewBag.PointsDetails.YearId</div>
        @if (@ViewBag.PointsDetails.PostsPoints.Count == 0)
        {
            <div class="no-results pull-left">لا توجد مقالات لهذا الكاتب.</div>
        }
        @Html.Partial("_PointsPartial", (List<RayaWSoffara.Models.PostPointsVM>)@ViewBag.PointsDetails.PostsPoints)
    </div>
    <button class="" id="viewMore" onclick="viewMoreButton(@Model.UserId)">View More</button>
</div>
<input type="hidden" id="AllPointsCount" value="@ViewBag.AllPostsCount" />

@Html.Partial("_LoadingPartial", "overall")

<script>
    var displayed_points_count = parseInt($(".recent-articles").length);
    var all_points_count = parseInt($("#AllPointsCount").val());
    if (displayed_points_count >= all_points_count) {
        $("#viewMore").addClass("hidden");
    }

    var page = 1;
    function viewMoreButton(userid) {
        $.ajax({
            type: "POST",
            url: "/Account/PointsPartial",
            data: { UserId: userid, MonthId: "@ViewBag.PointsDetails.MonthId", YearId: "@ViewBag.PointsDetails.YearId", Page: page },
            beforeSend: function () {
                $(".loading").removeClass("hidden");
            },
            success: function (points) {
                page++;
                $('.profile').append(points);
                var displayed_points_count = parseInt($(".recent-articles").length);
                var all_points_count = parseInt($("#AllPointsCount").val());
                if (displayed_points_count >= all_points_count) {
                    $("#viewMore").addClass("hidden");
                }
            },
            complete: function () {
                $(".loading").addClass("hidden");
            }
        });

        return false;
    }
</script>
