@model RayaWSoffara.Models.UserProfileVM
@using RayaWSoffara.Helpers
@{
    ViewBag.Title = "حساب الكاتب";
}

<div class="clear-fix"></div>
<div class="container" id="profile_container">
    <input id="userId" type="hidden"  value="@Model.UserId"/>
    <input id="userName" type="hidden"  value="@Model.UserName"/>
    <div class="profile-title profile-title2 col-md-4 col-xs-12">
        <div class="user-data-title">
            <span>@Model.FirstName @Model.LastName</span>
            <div class="clear-fix"></div>
            <div>@Model.UserName</div>
        </div>
        <div class="clear-fix"></div>
        <div class="user-image">
            @if (@Model.profileImgUrl != null)
            {
                <img class="pull-left" src="@Model.profileImgUrl?w=100&h=100&mode=crop" />
            }
            else
            {
                <img class="pull-left" src="~/Content/Images/img_writer.jpg?w=100&h=100&mode=crop" />
            }
        </div>
        <div class="clear-fix"></div>
        <div class="user-data">
            <div class="numerics">
                <div class="pull-left col-md-6">
                    <div>@Model.articlesCount</div>
                    <label>مقالة</label>
                </div>
                <div class="pull-left col-md-6">
                    <div>@Model.viewsCount</div>
                    <label>مشاهدة</label>
                </div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div id="profile-user-data">
            <div class="profile-sub-title">معلومات شخصية</div>
            <div class="form-group">
                <label class="pull-left">البطولة المفضلة</label>
                <input class="form-control" value="@Model.FavCompName" disabled />
            </div>
            <div class="form-group">
                <label class="pull-left">الفريق المفضل</label>
                <input class="form-control" value="@Model.FavTeamName" disabled />
            </div>
            <div class="form-group">
                <label class="pull-left">أسم المستخدم</label>
                <input type="text" class="form-control" name="DisplayName" value="@Model.DisplayName" disabled />
            </div>
            <div class="form-group">
                <label class="pull-left">نبذة عن @Model.FirstName</label>
                <textarea class="form-control" name="AboutYou" disabled>@Model.AboutYou</textarea>
            </div>
            <div class="form-group">
                <label class="pull-left">حساب تويتر</label>
                <input type="text" class="form-control" name="Twitter" value="@Model.Twitter" disabled />
            </div>
            <div class="form-group">
                <label class="pull-left">حساب جوجل بلس</label>
                <input type="text" class="form-control" name="Google" value="@Model.Google" disabled />
            </div>
            @if (Model.articlesCount > 0)
            {
                <div class="allUserPosts">
                    <a href="/UserPosts?posts=&tags=&Page=0&Username=@Model.UserName">كل مقالات الكاتب</a>
                </div>
            }
        </div>

    </div>

    <div class="profile col-md-8">
        <div class="achievement-container">
            <div class="clear-fix"></div>
            <div class="profile-sub-title">نقاط الكاتب</div>
            <div class="pointsgraph">
                <div id="basicflot" style="width: 100%; height: 300px"></div>
            </div>

            <div class="achievements">
                @Html.Partial("_AchievementsPartial")
            </div>

            <button id="viewMore" onclick="viewMore();"><span>أظهر المزيد</span></button>
        </div>
        <div class="clear-fix"></div>
        <div class="recents">
            <div class="profile-sub-title">مقالات الكاتب</div>
            <div class="clear-fix"></div>
            @if (@Model.articlesCount == 0)
            {
                <div class="no-results pull-left">لا توجد مقالات لهذا الكاتب.</div>
            }
            @foreach (var article in @Model.recentArticles)
            {
                <div class="recent-articles">
                    <a href="/Post/@article.PostId">
                        <div class="col-md-4 col-xs-12">
                            @if (@article.FeaturedImage != null)
                            {
                                <img class="" id="article_img" src="~/Content/Article_Images/@article.FeaturedImage?w=210&h=140&mode=crop" /> 
                            }
                            else
                            {
                                <iframe width="210" height="140" src="https://www.youtube.com/embed/@article.FeaturedVideo" frameborder="0" allowfullscreen></iframe>
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="article_title pull-left">@article.Title</div>
                            <div class="clear-fix"></div>
                            <div class="">
                                <div class="content">
                                    @{ string text = @Html.Raw(article.Content).ToString(); }
                                    @TrimTextHelper.TrimText(@text, 300);
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="clear-fix"></div>
            }
        </div>
    </div>
</div>

<input name="Page" value="1" type="hidden" />
<input id="AllPointsCount" type="hidden" value="@ViewBag.AllPointsCount" />

<div class="viewMoreButton">
    <div class="loading hidden">
        <div>
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/flot/jquery.flot.min.js"></script>
<script src="~/Content/Scripts/flot/jquery.flot.resize.min.js"></script>
<script src="~/Content/Scripts/flot/jquery.flot.time.min.js"></script>
<script>
    //start of show/hide view button //
    var page = 2;
    var displayed_points_count = parseInt($(".achievement-item").length);
    var all_points_count = parseInt($("#AllPointsCount").val());
    if (displayed_points_count >= all_points_count) {
        $("#viewMore").addClass("hidden");
    }
    //end of show/hide view button //

    function viewMore(e) {
        var username = $("#userName").val();
        $.ajax({
            url: "/Profile?Username=" + username + "&Page=" + page,
            beforeSend: function () {
                $(".loading").removeClass("hidden");
            },
            success: function (points) {
                page++;
                $(".loading").addClass("hidden");
                $('.achievements').append(points);
                var displayed_points_count = parseInt($(".achievement-item").length);
                var all_points_count = parseInt($("#AllPointsCount").val());
                if (displayed_points_count >= all_points_count) {
                    $("#viewMore").addClass("hidden");
                }
            }
        });

        return false;
    }

    $.ajax({
        url: "/Account/GetGraphPoints",
        type: 'POST',
        data: { userId: $("#userId").val() },
        success: function (points) {
            var dataSet = [
                { label: "النقاط", data: points, points: { fillColor: "#4572A7", size: 5 }, color: '#4572A7' }
            ];

            $.plot($("#basicflot"), dataSet, {
                xaxis: {
                    mode: "time",
                    tickSize: [1, "month"],
                    timeformat: "%b %Y",
                    tickLength: 0,
                    axisLabel: 'Month',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                },
                yaxis: {
                    axisLabel: 'Points',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                },
                series: {
                    lines: {
                        show: true,
                        fill: true
                    },
                    points: {
                        radius: 3,
                        show: true,
                        fill: true
                    },
                },
                grid: {
                    borderWidth: 1,
                    hoverable: true
                }
            });

            function showTooltip(x, y, contents, z) {
                $('<div id="flot-tooltip">' + contents + '</div>').css({
                    top: y - 210,
                    left: x - 120,
                    'border-color': z,
                }).appendTo(".pointsgraph").fadeIn(200);
            }

            function getMonthName(numericMonth) {
                var monthArray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var alphaMonth = monthArray[numericMonth];

                return alphaMonth;
            }

            function convertToDate(timestamp) {
                var newDate = new Date(timestamp);
                var dateString = newDate.getMonth();
                var monthName = getMonthName(dateString);

                return monthName;
            }

            var previousPoint = null;
            $("#basicflot").bind("plothover", function (event, pos, item) {
                if (item) {
                    if ((previousPoint != item.dataIndex) || (previousLabel != item.series.label)) {
                        previousPoint = item.dataIndex;
                        previousLabel = item.series.label;

                        $("#flot-tooltip").remove();

                        var x = convertToDate(item.datapoint[0]),
                        y = item.datapoint[1];
                        z = item.series.color;

                        showTooltip(item.pageX, item.pageY,
                            "<b>" + item.series.label + "</b><br /> " + x + " = " + y,
                            z);
                    }
                } else {
                    $("#flot-tooltip").remove();
                    previousPoint = null;
                }
            });
        }
    });
</script>
