@model RayaWSoffara.Models.IndexVM

<div class="row header_divs" id="header_div_4">
    <div class="container checkbox-wrapper"></div>
</div>

<div class="row">
    <input id="AllActivePostsCount" class="hidden" value="@Model.PostsCount" />
    @if (Model.Posts != null)
    {
        <div class="grid">
            @foreach (var item in @ViewBag.Posts)
            {
                if (@item.PostTypeID == 3)
                {
                <div class="grid-item">
                    <div class="article-sm">
                        <div class="content-details">
                            <div>
                                <div class="pull-left">
                                    <a href="/Profile?Username=@item.PostAuthorUsername" class="author-name">@item.PostAuthorName</a>
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                            @Html.Raw(@item.PostContent)
                        </div>
                        <div class="footer-details">
                            <div class="post-type post-type-indicator green">
                                <i class='fa fa-exclamation'></i>
                            </div>
                            <div class="lower-footer">
                                <div class="pull-left views">
                                    <span>123</span>
                                    <i class="fa fa-eye"></i>
                                </div>
                                <div class="pull-left comments">
                                    <span>123</span>
                                    <i class="fa fa-comment"></i>
                                </div>
                                <div class="pull-left shares">
                                    <span>123</span>
                                    <i class="fa fa-share"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                else if (@item.PostTypeID == 5)
                {
                <div class="grid-item">
                    <div class="article-lg">
                        <div>
                            <iframe width="272" height="149" src="https://www.youtube.com/embed/@item.PostVideo" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="content-details">
                            <div>
                                <span class="post-title pull-left">@Html.Raw(@item.PostTitle)</span>
                                <div class="pull-right">@item.PostTypeName</div>
                            </div>
                            <div class="clear-fix"></div>
                            <a href="/Profile?Username=@item.PostAuthorUsername" class="author-name">@item.PostAuthorName</a>


                            <div class="post-content">@Html.Raw(@item.PostContent)</div>
                        </div>
                    </div>
                </div>
                }
                else
                {
                <div class="grid-item">
                    <div class="article-lg">
                        <div>
                            <img src="~/Content/Article_Images/@item.PostImage?w=732&h=340&mode=crop" />
                        </div>
                        <div class="content-details">
                            <div>
                                <span class="post-title pull-left">@Html.Raw(@item.PostTitle)</span>
                                @{ int id = @item.PostTypeID;
                                   string color = "";
                                   string icon = ""; }
                                @{
                                    switch(id)
                                    {
                                        case 1: color = "orange";
                                                icon = "<i class='fa fa-pencil-square-o'></i>"; break;
                                        case 2: color = "red"; 
                                                icon = "<i class='fa fa-trophy'></i>"; break;
                                        case 3: color = "green";
                                                icon = "<i class='fa fa-exclamation'></i>"; break;
                                        case 4: color = "blue"; 
                                                icon = "<i class='fa fa-picture-o'></i>"; break;
                                        case 5: color = "brown";
                                                icon = "<i class='fa fa-video-camera'></i>"; break;
                                        default: color = "black"; break;
                                     }
                                }
                            </div>
                            <div class="clear-fix"></div>
                            <a href="/Profile?Username=@item.PostAuthorUsername" class="author-name">@item.PostAuthorName</a>
                            <div class="post-content">@Html.Raw(@item.PostContent)</div>
                        </div>
                        <div class="footer-details">
                            <div class="post-type post-type-indicator @color">
                                @Html.Raw(@icon)
                            </div>
                            <div class="lower-footer">
                                <div class="pull-left views">
                                    <span>123</span>
                                    <i class="fa fa-eye"></i>
                                </div>
                                <div class="pull-left comments">
                                    <span>123</span>
                                    <i class="fa fa-comment"></i>
                                </div>
                                <div class="pull-left shares">
                                    <span>123</span>
                                    <i class="fa fa-share"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
    }

    <div class="clear-fix"></div>

    <div class="row viewMoreButton">
        <div class="loading hidden">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
        <button id="viewMore" onclick="viewMore();">أظهر المزيد</button>
    </div>
</div>



<script src="~/Content/Scripts/masonry.pkgd.min.js"></script>
<script>
    $('.grid').masonry({
        itemSelector: '.grid-item',
        isFitWidth: true
    });

    var page = 1;

    //function viewMore(e) {
    //    var vars = [], hash;
    //    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    //    for (var i = 0; i < hashes.length; i++) {
    //        hash = hashes[i].split('=');
    //        vars.push(hash[0]);
    //        vars[hash[0]] = hash[1];
    //    }
    //    var posts_qs = (vars["posts"] == null) ? "" : vars["posts"];
    //    var tags_qs = (vars["tags"] == null) ? "" : vars["tags"];

    //    $.ajax({
    //        type: "POST",
    //        data: { posts: posts_qs, tags: tags_qs, count: page },
    //        url: "/Home/ViewMore",
    //        beforeSend: function () {
    //            $(".loading").removeClass("hidden");
    //        },
    //        success: function (posts) {
    //            page++;
    //            $(".loading").addClass("hidden");
    //            $('.grid').masonry('destroy');
    //            for (var i = 0; i < posts.length; i++) {
    //                if (posts[i].PostTypeID == "3") {
    //                    var html = '<div class="grid-item"><div class="article-sm">';
    //                    html += '<div class="content-details"><div><div class="pull-left">';
    //                    html += '<a href="/Profile?Username=' + posts[i].PostAuthorUsername + '" class="author-name">' + posts[i].PostAuthorName + '</a>';
    //                    html += '</div></div><div class="clear-fix"></div>' + posts[i].PostContent + '</div>';
    //                    html += '<div class="footer-details"><div class="post-type post-type-indicator green"><i class="fa fa-exclamation"></i></div>';
    //                    html += '<div class="lower-footer">';
    //                    html += '<div class="pull-left views"><span>123</span><i class="fa fa-eye"></i></div>';
    //                    html += '<div class="pull-left comments"><span>123</span><i class="fa fa-comment"></i></div>';
    //                    html == '<div class="pull-left shares"><span>123</span><i class="fa fa-share"></i></div>';
    //                    html += '</div></div></div></div>';
    //                    $(".grid").append(html);
    //                } else if (posts[i].PostTypeID == "5") {
    //                    var html = ' <div class="grid-item">';
    //                    html += '<div class="article-lg"><div>';
    //                    html += '<iframe width="272" height="149" src="https://www.youtube.com/embed/' + posts[i].PostVideo + '" frameborder="0" allowfullscreen></iframe>';
    //                    html += '<div class="footer-details">';
    //                    html += '<span class="post-title">' + posts[i].PostTitle + '</span><div class="clear-fix"></div>';
    //                    html += '<a href="/Profile?Username=' + posts[i].PostAuthorUsername + '" class="author-name">' + posts[i].PostAuthorName + '</a>';
    //                    html += '<div class="post-content">' + posts[i].PostContent + '</div></div>';
    //                    $(".grid").append(html);
    //                } else {
    //                    var color = "";
    //                    var icon = ""; 

    //                    switch(parseInt(posts[i].PostTypeID))
    //                    {
    //                         case 1: color = "orange";
    //                                 icon = "<i class='fa fa-pencil-square-o'></i>"; break;
    //                         case 2: color = "red"; 
    //                                 icon = "<i class='fa fa-trophy'></i>"; break;
    //                         case 3: color = "green";
    //                                 icon = "<i class='fa fa-exclamation'></i>"; break;
    //                         case 4: color = "blue"; 
    //                                 icon = "<i class='fa fa-picture-o'></i>"; break;
    //                         case 5: color = "brown";
    //                                 icon = "<i class='fa fa-video-camera'></i>"; break;
    //                         default: color = "black"; break;
    //                    }

    //                    var html = ' <div class="grid-item">';
    //                    html += '<div class="article-lg"><div>';
    //                    html += '<img src="/Content/Article_Images/' + posts[i].PostImage + '?w=732&h=340&mode=crop" /></div>';
    //                    html += '<div class="content-details"><div><span class="post-title pull-left">' + posts[i].PostTitle + '</span></div>';
    //                    html += '<div class="clear-fix"></div>';
    //                    html += '<a href="/Profile?Username=' + posts[i].PostAuthorUsername + '" class="author-name">' + posts[i].PostAuthorName + '</a>';
    //                    html += '<div class="post-content">' + posts[i].PostContent + '</div></div>';
    //                    html += '<div class="footer-details">';
    //                    html += '<div class="post-type post-type-indicator ' + color + '">' + icon + '</div>';
    //                    html += '<div class="lower-footer">';
    //                    html += '<div class="pull-left views"><span>123</span><i class="fa fa-eye"></i></div>';
    //                    html += '<div class="pull-left comments"><span>123</span><i class="fa fa-comment"></i></div>';
    //                    html += '<div class="pull-left shares"><span>123</span><i class="fa fa-share"></i></div>';
    //                    html += '</div></div></div>';
    //                    $(".grid").append(html);
    //                }
    //            }
    //            if (parseInt($(".grid-item").length) >= parseInt($("#AllActivePostsCount").val())) {
    //                $("#viewMore").addClass("hidden");
    //            }
    //            $('.grid').masonry({
    //                itemSelector: '.grid-item',
    //                isFitWidth: true
    //            });
    //        }
    //    })

    //    return false;
    //}

    $(function () {
        if (parseInt($(".grid-item").length) == parseInt($("#AllActivePostsCount").val())) {
            $("#viewMore").addClass("hidden");
        }
    });

</script>
