@model RayaWSoffara.Models.IndexVM
@{
    ViewBag.Title = "الرئيسية";
    //var model = ViewBag.Posts;
}

<div class="row header_divs header_div_4" id="step4">
    <div class="container-fluid checkbox-wrapper visible-xs">
        <div class="pull-left checkbox-item-wrapper black col-xs-6">
            <span class="black pull-left"></span>
            <input class="الكل" type="checkbox" name="PostType" value="0">
            <label>الكل</label>
        </div>
    </div>
    <div class="container-fluid checkbox-wrapper hidden-xs">
        <div>
            <div class="pull-left checkbox-item-wrapper black">
                <span class="black pull-left"></span>
                <input class="الكل" type="checkbox" name="PostType" value="0">
                <label>الكل</label>
            </div>
        </div>
    </div>
</div>

<input id="AllActivePostsCount" type="hidden" value="@Model.PostsCount" />

<div class="container">
    <div class="row negative-row">
        <div class="col-lg-9 col-xs-12 no-padding">
            <div class="grid">
                @if (Model.PostsCount < 1)
                {
                    <div class="no-results">لا توجد نتائج لهذا البحث</div>
                }
                @Html.Partial("_PostPartial", Model)
            </div>
            <div class="main-footer hidden-md hidden-lg">
                <div class="pull-left"><a href="/Terms"> شروط الاستخدام </a><span class="dot">&period;</span></div>
                <div class="pull-left"><a href="/Privacy"> بيان الخصوصية </a><span class="dot">&period;</span></div>
                <div class="pull-left"><a href="/Advertising"> اعلن معنا </a><span class="dot">&period;</span></div>
                <div class="pull-left"><a href="/About"> عن الموقع </a><span class="dot">&period;</span></div>
                <div class="pull-left"><a href="/Suggestions"> اقتراحات </a><span class="dot">&period;</span></div>
            </div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs custom-row sidebar">
            @if (!Request.IsAuthenticated)
            {
                <div class="callToAction">
                    <a href="/Article" class="pull-left article_anchor"><span>إكــــتــب</span><i class="fa fa-pencil-square-o pull-right article-write"></i>
                    </a>
                </div>
            }
            <div class="reward-promo"></div>
            <div class="statistics">
                <div class="profile-sub-title no-margin">احصائيات</div>
                <div class="stats">
                    <div class="col-xs-6">
                        <div class="fa fa-newspaper-o"></div>@Model.PostsCount مقالة</div>
                    <div class="col-xs-6">
                        <div class="fa fa-user"></div>@ViewBag.AllActiveUsers كاتب</div>
                    <div class="clear-fix"></div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="leaderboard">
                <div class="profile-sub-title no-margin">أشهر الكتاب</div>
                <ul class="nav leader-nav-tabs">
                    <li class="col-xs-4"><a href="#weekly" data-toggle="tab">هذا الاسبوع</a></li>
                    <li class="col-xs-4 active"><a href="#monthly" data-toggle="tab">هذا الشهر</a></li>
                    <li class="col-xs-4"><a href="#all_time" data-toggle="tab">كل النقاط</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="weekly">
                        @foreach (var item in @ViewBag.WeeklyLeadersPoints)
                        {
                            <div>
                                <div class="stat-item col-xs-10">
                                    <div class="pull-left user-image">
                                        <img src="@item.UserProfilePicture?w=30&h=30&mode=crop" />
                                    </div>
                                    <div class="data">
                                        <div>@item.UserName</div>
                                        <div class="pull-right">@item.PointsValue</div>
                                    </div>
                                </div>
                                <div class="arrow col-xs-2"></div>
                            </div>
                        }
                    </div>

                    <div class="tab-pane active" id="monthly">
                        @foreach (var item in @ViewBag.MonthlyLeadersPoints)
                        {
                            <div>
                                <div class="stat-item col-xs-10">
                                    <div class="pull-left user-image">
                                        <img src="@item.UserProfilePicture?w=30&h=30&mode=crop" />
                                    </div>
                                    <div class="data">
                                        <div>@item.UserName</div>
                                        <div class="pull-right">@item.PointsValue</div>
                                    </div>
                                </div>
                                <div class="arrow col-xs-2"></div>
                            </div>
                        }
                    </div>

                    <div class="tab-pane" id="all_time">
                        @foreach (var item in @ViewBag.AllTimeLeadersPoints)
                        {
                            <div>
                                <div class="stat-item col-xs-10">
                                    <div class="pull-left user-image">
                                        <img src="@item.UserProfilePicture?w=30&h=30&mode=crop" />
                                    </div>
                                    <div class="data">
                                        <div>@item.UserName</div>
                                        <div class="pull-right">@item.PointsValue</div>
                                    </div>
                                </div>
                                <div class="arrow col-xs-2"></div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="main-footer">
                <div class="pull-left"><a href="/Terms"> شروط الاستخدام </a><span class="dot">&period;</span></div>
                <div class="pull-left"><a href="/Privacy"> بيان الخصوصية </a><span class="dot">&period;</span></div>
                <div class="pull-left"><a href="/Advertising"> اعلن معنا </a><span class="dot">&period;</span></div>
                <div class="pull-left"><a href="/About"> عن الموقع </a><span class="dot">&period;</span></div>
                <div class="pull-left"><a href="/Suggestions"> اقتراحات </a><span class="dot">&period;</span></div>
            </div>
        </div>
    </div>
</div>

<div class="clear-fix"></div>

<div class="viewMoreButton">
    @Html.Partial("_LoadingPartial", "overall")
    <button id="viewMore" onclick="viewMore();" class="hidden"><span>أظهر المزيد</span></button>
</div>
@Html.Raw(ViewBag.tutorial)

<script src="~/Content/Scripts/masonry.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Content/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Content/Scripts/imagesloaded.pkgd.min.js"></script>
<script>
    $('.grid').imagesLoaded(function () {
        $('.grid').masonry({
            itemSelector: '.grid-item',
            isFitWidth: true,
            isOriginLeft: false
        });
    });

    //stat of view tutorial function //
    function viewTutorial() {
        $.ajax({
            type: "POST",
            data: { TutorialId: 1, UserName: "@HttpContext.Current.User.Identity.Name" },
            url: "/Home/ViewTutorial"
        });
    }
    //end of view tutorial function //

    //start of sidebar animation //
    function isScrolledIntoView(elem) {
        var $elem = $(elem);
        var $window = $(window);

        var docViewTop = $window.scrollTop();
        var docViewBottom = docViewTop + $window.height();

        var elemTop = $elem.offset().top;
        var elemBottom = elemTop + $elem.height();

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
    }

    function isBottomPartInView(elem) {
        var $elem = $(elem);
        var $window = $(window);

        var docViewTop = $window.scrollTop();
        var docViewBottom = docViewTop + $window.height();
        var elemTop = $elem.offset().top;
        var elemBottom = elemTop + $elem.height();

        return ((elemBottom <= docViewBottom));
    }

    function isTopPartInView(elem) {
        var $elem = $(elem);
        var $window = $(window);

        var docViewTop = $window.scrollTop();
        var docViewBottom = docViewTop + $window.height();
        var elemTop = $elem.offset().top;
        var elemBottom = elemTop + $elem.height();

        return ((elemTop >= docViewTop));
    }

    function heightInViewport($el) {
        var elH = $el.outerHeight(),
            H = $(window).height(),
            r = $el[0].getBoundingClientRect(), t = r.top, b = r.bottom;
        return Math.max(0, t > 0 ? Math.min(elH, H - t) : (b < H ? b : H));
    }

    $(window).scroll(function () {
        var header_top = $(".content-wrapper.duplicate ").css("top");
        if (parseInt(header_top) < 0) {
            var boundries_topscroll = $(window).scrollTop();
            $(".sidebar").css({
                top: 0
            }, 1);
        }
        else if (isBottomPartInView($(".sidebar div:last-child"))) {
            if ($(".original.header_div_2").css("display") == "block") {
                var difference = $(".sidebar").height() - $(window).height() + $(".original.header_div_2").height();
            }else{
                var difference = $(".sidebar").height() - $(window).height();
            }
            if (isTopPartInView($("footer"))) {
                var footer_height = heightInViewport($("footer"));
                var sidebar_topscroll = parseInt($(window).scrollTop() - $(".duplicate.header_div_1").height() - $(".duplicate .sub-headers").height() - difference - 80 - footer_height);
            } else{
                var sidebar_topscroll = parseInt($(window).scrollTop() - $(".duplicate.header_div_1").height() - $(".duplicate .sub-headers").height() - difference - 80);
            }
            (sidebar_topscroll < 0) ? sidebar_topscroll = 0 : sidebar_topscroll = sidebar_topscroll;
            $(".sidebar").css({
                top: sidebar_topscroll
            });
        }
    });

    //end of sidebar animation //

    $(document).ready(function () {
        var username = "@HttpContext.Current.User.Identity.Name";
        if (username != "" && "@ViewBag.tutorial" != "") {
            startIntro();
        }

        $(".leaderboard .tab-pane > div:nth-child(1)").animate({
            width: "100%"
        }, 5000, function () {
            // Animation complete.
        });

        $(".leaderboard .tab-pane > div:nth-child(2)").animate({
            width: "85%"
        }, 5000, function () {
            // Animation complete.
        });

        $(".leaderboard .tab-pane > div:nth-child(3)").animate({
            width: "70%"
        }, 5000, function () {
            // Animation complete.
        });
    });

    //////livescore //
    ///*<![CDATA[*/try { function inscore_413348_xdc() { this.elm = null; this.hash = null; var times_resized = 0; var times_not_resized = 0; this.resize = function () { times_resized == 1023 && (times_resized = 0); times_not_resized == 1023 && (times_not_resized = 0); if (this.getElm() && location.hash && location.hash != this.hash) { this.hash = location.hash; var reggg = new RegExp(".*inscore_ifheight_xdc_([0-9]{2,5}).*"); if (result = reggg.exec(location.hash)) { this.getElm().style.height = (typeof result[1] == "undefined" ? "10000" : (result[1] > 500 && result[1] <= 30000 ? parseInt(result[1]) : 500)) + "px"; times_resized++; } } else if (location.hash && location.hash == this.hash) times_not_resized++; else return resize_later(75); resize_later(250); }; var resize_later = function (time) { setTimeout(function () { inscore_413348_xdc_run.resize(); }, time); }; this.getElm = function () { try { (typeof this.elm == "undefined" || this.elm === null || !this.elm) && (this.elm = document.getElementById("inscore-xdc-413348")); } catch (e) { this.elm = null; } return this.elm; }; var show_links = function () { if ((times_resized >= 1 || times_not_resized >= 2) && (obj = document.getElementById("freescore_links_413348"))) { obj.style.visibility = "visible"; obj.style.display = "block"; } else show_links_later(); }; var show_links_later = function () { setTimeout(function () { show_links(); }, 100); }; if (typeof window.postMessage == "undefined") { show_links_later(); resize_later(); } else { var ev = function (event) { try { var data = JSON.parse(event.data); } catch (e) { return; } if (data instanceof Array && data[0] == 413348 && typeof data[1] != "undefined") { eval(data[1]); } }; if (window.addEventListener) { window.addEventListener("message", ev); } else if (window.attachEvent) { window.attachEvent("onmessage", ev); } setTimeout(function () { document.getElementById("inscore-xdc-413348").contentWindow.postMessage(JSON.stringify(["413348", "run"]), "*"); }, 2000); show_links_later(); resize_later(); } }; var inscore_413348_xdc_run = new inscore_413348_xdc(); } catch (e) { document.getElementById("inscore-xdc-413348").style.height = "10000px"; }
    ///*]]>*/
</script>
